html {
  scroll-behavior: smooth;
}

body {
  background: #fbf6f1;
  color: #000000;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, .btn, .navbar-nav, .list-group-item {
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
}

#logoImage {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 5%;
}

#intro {
  text-align: center;
  color: #000000;
  background-color: #fbf6f1;
  font-weight: 600;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#body, #output, #navbar, #about, #history{
  display: none;
}

#navbar {
  background-color: #fbf6f1;
  margin-bottom: 2%;
}

.album-data {
  max-width:18rem;
  margin-bottom: 2rem;
}

iframe {
  border-radius: 5%;
}

#heroImage {
  border-radius: 50%;
}

.row {
  margin-top: 1%;
}

form {
  margin-top: 3%;
  margin-bottom: 3%;
}

#about p {
  margin-left: 1em;
}

.team {
  padding-left: 5em;
}

.team b {
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
}

#about a {
  text-decoration: underline dashed;
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
  color: black;
}

#githubLink a {
  text-decoration: underline dashed;
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
  color: red;
}